[submodule "workspace/FAST-LIVO2"]
	path = workspace/FAST-LIVO2
	url = https://github.com/hku-mars/FAST-LIVO2.git
[submodule "workspace/gazebo-classic"]
	path = workspace/gazebo-classic
	url = https://github.com/gazebosim/gazebo-classic.git
